<div class="row">
<div class="form-login">
    <h2 class="page-header">Login</h2>
    <form (submit)="onLoginSubmit()">
        <!-- Text input-->
        <div class="form-group">
            <label>Name</label>
            <input id="username" name="username" type="text" [(ngModel)]="username" name="username" class="form-control">
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label>Password</label>
            <input id="password" name="password" type="password" [(ngModel)]="password" name="password" class="form-control">
        </div>

        <div class="btn-group-lg">
            <input type="submit" class="btn btn-primary pull-right btn-flat" value="Submit">
            <input type="reset" class="btn btn-danger pull-right btn-flat" value="Cancel">
        </div>

    </form>
</div>
</div>
<!--./row -->