<div class="jumbotron text-center" style="border-radius:0">
    <h1>Mean Izal</h1>
    <p class="lead">Selamat Datang</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Paragraf 1</h3>
        <p>Isi dari paragraf 1 ...</p>
    </div>
    <div class="col-md-4">
        <h3>Paragraf 2</h3>
        <p>Isi dari paragraf 2 ...</p>
    </div>
    <div class="col-md-4">
        <h3>Paragraf 3</h3>
        <p>Isi dari paragraf 3 ...</p>
    </div>
</div>
